<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="shortcut icon" href="./files/images/logo.jpg">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="js/JQuery.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript" src="js/animal.js"></script>
    <script type="text/javascript" src="js/addimage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <nav  id="header" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="Home"><img style="width: 300px; height: 80px;" src="./files/images/logobtn.png" alt="logo" ></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="CreatePosts">Створити пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Posts">Тварини</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Advice">Корисні поради</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Profile">Профіль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Donate">Благодійність</a>
          </li>
        </ul>

        <button class="btn btn-outline-success my-2 my-sm-0" onclick="login()" id ="log" type="submit" style="margin-right: 10px;">Вхід</button>
        <button class="btn btn btn-secondary my-2 my-sm-0" onclick="window.location.href='/SignIn'" id ="log" type="submit">Реєстрація</button>

      </div>
    </nav>
    <div class="p-5 bg-warning" >
      <div class="text-center" >
        <b><font size="6" style="color: white;">СТВОРИТИ ТВАРИНУ</font></b>
      </div>
    </div>

    <div v-cloak id="pets" class="row mt-5" style="min-height: 600px;">
      <div class="col-md-2"></div>
      <div class="col-md-8 border">
        <input v-model="nameOfPets" class="form-control mt-3" placeholder="Введіть ім'я тварини">
        <div class="">
          <span>Стать</span>
          <select class="form-control" v-model="gender">
            <option>Ч</option>
            <option>Ж</option>
          </select>
        </div>
        <div class="">
          <span>Чи має чіп?</span>
          <div class="radio-inline">
            <input type="radio" value="Так" v-model="chipped">
            <label>Так</label>
            <input type="radio" value="Ні" v-model="chipped">
            <label>Ні</label>
            <input type="radio" value="Не знаю" v-model="chipped">
            <label>Не знаю</label>
          </div>
        </div>
        <div class="input-group-text mt-2">
          <input type="checkbox" v-model="collar">
          <span>Чи має ошейнік?</span>
        </div>
        <div class="mt-3">
          <div class="">
            <button class="form-control btn btn-light" type="button" id="changeImage" onclick="addImage()">Виберіть фото</button>
            <input type="file" id="files" @change="previewImage" />
          </div>
          <div class="text-center">
            <output id="list">
              <span>
                <img class=" img-thumbnail" style="width: 300px; height: 300px;" v-if="imageOfPets" v-bind:src="imageOfPets">
              </span>
              <span id="infoAboutPhotoPets"></span>
            </output>
          </div>
        </div>
        <div class="mt-3">
          <span>Виберіть тип тварини</span>
          <select class="form-control" id="typeAnimal" v-model="typeOfAnimal"  @change="onChange($event)">
          </select>

          <div v-for="item in idOfType_OfAnimals" class="">
            <ul v-if="type_of_animals[item - 1].id_type_of_animal === typeOfAnimal">
              <li v-for="(color, index) in idOfColour[item]" >
                <span>{{ colors[color].name }}</span>
                <img  class=" img-thumbnail rounded-circle" style="width: 30px; height: 30px;" v-bind:src="colors[color].src" :title="colors[color].image" :alt="colors[color].name">
              </li>
            </ul>
           </div>
        </div>
        <div class="text-center mt-3">
          <button type="button" class="form-control btn btn-secondary" name="button" v-on:click="addPets">додати</button>
        </div>
      </div>
    </div>

    <div class="row mt-5" style="background-color: grey; padding: 10px;">
      <div class="col-md-1"></div>

      <div class="col-md-7">
        <div class="text-left">
          <a class="btn btn-secondary" style="width: 150px;"  href="/Policy">
            Умови і політики
          </a>
        </div>
        <div style="margin-top: 10px; " class="text-left">
          <a class="btn btn-secondary" style="width: 150px;" href="/Contact">
            Наші контакти
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-right mt-3">
          <a href="https://www.facebook.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/png/128/270/270793.png" />
          </a>
          <a href="https://twitter.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/png/128/270/270826.png" />
          </a>
          <a href="https://www.instagram.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" />
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-left">
          2019
        </div>
        <div class="text-left">
          Адреса реєстрації організації
        </div>
      </div>
    </div>
    <script>
      document.getElementById('files').addEventListener('change', handleFileSelect, false);
    </script>
  </body>
</html>
