<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="shortcut icon" href="./files/images/logo.jpg">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="js/JQuery.js"></script>
    <script type="text/javascript" src="js/location.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript" src="js/profile.js"></script>
    <script type="text/javascript" src="js/addimage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <nav  id="header" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="Home"><img style="width: 300px; height: 80px;" src="./files/images/logobtn.png" alt="logo" ></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="CreatePosts">Створити пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Posts">Тварини</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Advice">Корисні поради</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled" href="Profile">Профіль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Donate">Благодійність</a>
          </li>
        </ul>

        <button id="app1" v-if="admin" class="btn btn-outline-info my-2 my-sm-0" onclick="window.location.href='/adminMenu'" id ="log" style="margin-right: 10px;">Адмін панель</button>
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="login()" id ="log" style="margin-right: 10px;">Вхід</button>
        <button class="btn btn btn-secondary my-2 my-sm-0" onclick="window.location.href='/SignIn'" id ="log">Реєстрація</button>

      </div>
    </nav>

    <div class="p-5 bg-warning" >
      <div class="text-center" >
        <b><font size="6" style="color: white;">ПРОФІЛЬ</font></b>
      </div>
    </div>

    <div  v-cloak id="info" class="mt-5">
      <div  class="row" >
        <div  class="col-md-1">
        </div>
        <div class="col-md-2">
          <div class="text-center">
            <img class="rounded-circle" style="width: 150px; height: 150px;" id="avatar" v-bind:src="user.src" title="user.title" alt="avatar">
          </div>
        </div>

        <div class="col-md-1">
          <div class="text-right" style="height: 50px;">
            <label>Нікнейм</label>
          </div>
          <div class="text-right mt-2" style="height: 50px;">
            <label>Ім'я</label>
          </div>

          <div class="text-right mt-1" style="height: 50px;">
            <label>Емейл</label>
          </div>
          <div class="text-right" style="height: 50px;">
            <label>Адреса</label>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <input class="form-control" readonly type="text" maxlength="25" :value="username">
          </div>
          <div class="row mt-3">
            <div class="col-md-5">
              <input class="form-control " readonly type="text" maxlength="25" :value="user.updatedFirstName">
            </div>
            <div class="col-md-2">
              <div class="text-center mt-1">
                <label>Прізвище</label>
              </div>
            </div>
            <div class="col-md-5">
              <input class="form-control" readonly type="text" maxlength="25" :value="user.updatedLastName">
            </div>
          </div>
          <div class="form-group mt-3">
            <input class="form-control" readonly type="text" maxlength="25" :value="user.updatedEmail">
          </div>
          <div class="form-group">
            <input class="form-control" readonly type="text" maxlength="25" :value="user.address">
          </div>

        </div>
        <div class="col-md-2">
          <div class="">
              <button type="button" class="btn btn-secondary form-control" name="button" v-on:click="showMap();">Редагувати</button>
          </div>
        </div>
      </div>
    </div>

    <div v-if="change" v-cloak id="app" class="row">

      <div  class="col-md-1">
      </div>
      <div   class="col-md-2">
        <div class="text-center">
          <output id="list">
            <span>
              <img class="rounded-circle" style="width: 150px; height: 150px;" v-bind:src="user.src" title="user.title" alt="">
            </span>
            <span id="infoAboutImage"></span>
          </output>
        </div>
        <div class="text-center mt-3">
          <button type="button" class="btn btn-secondary form-control" id="changeImage" onclick="addImage()">Змінити</button>
          <input type="file" id="files" @change="previewImage" />
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-secondary form-control" id="deleteAvatar"  onclick="deleteAvatar()">Видалити</button>
        </div>

      </div>
      <div  class="col-md-1">
        <div class="text-right" style="height: 50px;">
          <label>Ім'я</label>
        </div>
        <div class="text-right" style="height: 50px;">
          <label>Емейл</label>
        </div>
        <div class="text-right" style="height: 50px;">
          <label>Адреса</label>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-5">
            <input class="form-control" id="updatedFirstName" type="text" maxlength="25" :value="user.updatedFirstName">
          </div>
          <div class="col-md-2">
            <div class="text-center mt-1">
              <label>Прізвище</label>
            </div>
          </div>
          <div class="col-md-5">
            <input class="form-control" id="updatedLastName" type="text" maxlength="25" :value="user.updatedLastName">
          </div>
        </div>
        <div class="form-group mt-3">
          <input class="form-control" id="updatedEmail" type="text" maxlength="25" :value="user.updatedEmail">
        </div>
        <div id="maps"  class="">
          <input id="pac-input-from" class="form-control" name="leave" class="controls" type="text" v:model="user.address" placeholder="Де ви живите?" >
          <div id="map" class="mt-3"></div>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary form-control" id="updatedDone" name="Done" v-on:click="upDate()">Оновити</button>
      </div>
    </div>

    <div class="row mt-5">
      <div  class="col-md-1">
      </div>
      <div   class="col-md-2">
        <div class="text-center">
          <h3>Тварини</h3>
        </div>
      </div>
    </div>

    <div v-cloak id="listOfPets" class="">
      <div v-for="(item, index) in list" class="row mt-5">
        <div  class="col-md-1">
        </div>
        <div   class="col-md-3">
          <div class="text-center">
            <img v-if="item.src != ''" class="rounded-circle" style="width: 150px; height: 150px;" v-bind:src="item.src" :title="item.photo">
            <label v-if="item.src === ''" class="mt-5">Без фото</label>
          </div>
        </div>
        <div  class="col-md-3">
          <div class="text-center mt-3">
            <div class="row">
              <div   class="col-md-3">
                <div class="text-right">
                  Кличка
                </div>
              </div>
              <div   class="col-md-9">
                <div class="text-left">
                  <label>{{item.name }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div   class="col-md-3">
                <div class="text-right">
                  Чіп
                </div>
              </div>
              <div   class="col-md-9">
                <div class="text-left">
                  <label v-if="item.chipped === 'Так'">Має</label>
                  <label v-if="item.chipped === 'Ні'">Не має</label>
                  <label v-if="item.chipped === 'Не знаю'">Немає інформації про наявність</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div  class="col-md-3">
                <div class="text-right">
                  Ошийник
                </div>
              </div>
              <div  class="col-md-9">
                <div class="text-left">
                  <label v-if="item.collar === true">Нявний</label>
                  <label v-if="item.collar === false">Відсутній</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="col-md-3">
          <div class="row mt-5">
            <div  class="col-md-6">
              <div class="text-right ">
                Тип тварини
              </div>
            </div>
            <div  class="col-md-6">
              <div v-if="appPets.type_of_animals.findIndex(x => x.id_type_of_animal === item.id_type_of_animal) != -1" class="text-left ">
                {{appPets.type_of_animals[appPets.type_of_animals.findIndex(x => x.id_type_of_animal === item.id_type_of_animal)].name_type}}
              </div>
            </div>
          </div>
        </div>

        <div  class="col-md-1 mt-5">
          <button type="button" name="button" class="btn btn-secondary form-control" v-on:click="deleteRow(index)">Х</button>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div  class="col-md-3">
      </div>
      <div class="col-md-6">
        <div id="pets"class="text-center">
          <button class="btn btn-secondary form-control" type="button" name="button" v-on:click="addPets">Додати нову тварину</button>
        </div>
      </div>
    </div>

    <div v-cloak id="listOfPost" class="">
      <div v-for="(item, index) in id_post" class="row mt-5">
        <div  class="col-md-3">
        </div>
        <div class="col-md-6">
          <div id="pets"class="text-center">
            <a class="btn btn-secondary mt-5 " v-bind:href="'/Post?id=' + item.id_post"  role="button">Перейти до посту {{item.id_post}} з заголовоком {{item.title}}</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-5" style="background-color: grey; padding: 10px;">
      <div class="col-md-1"></div>

      <div class="col-md-7">
        <div class="text-left">
          <a class="btn btn-secondary" style="width: 150px;"  href="/Policy">
            Умови і політики
          </a>
        </div>
        <div style="margin-top: 10px; " class="text-left">
          <a class="btn btn-secondary" style="width: 150px;" href="/Contact">
            Наші контакти
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-right mt-3">
          <a href="https://www.facebook.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/png/128/270/270793.png" />
          </a>
          <a href="https://twitter.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/png/128/270/270826.png" />
          </a>
          <a href="https://www.instagram.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" />
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-left">
          2019
        </div>
        <div class="text-left">
          Адреса реєстрації організації
        </div>
      </div>
    </div>

    <script>
      document.getElementById('files').addEventListener('change', handleFileSelect, false);
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnVlU107fhPTFdyyZFodC4ObGPtFDhtDw&&libraries=places" async defer></script>
  </body>
</html>
