<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="./files/images/logo.jpg">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="js/JQuery.js"></script>
    <script type="text/javascript" src="./js/location.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript" src="js/singlepost.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <nav  id="header" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="Home"><img style="width: 300px; height: 80px;" src="./files/images/logobtn.png" alt="logo" ></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="CreatePosts">Створити пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Posts">Тварини</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Advice">Корисні поради</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Profile">Профіль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="Donate">Благодійність</a>
          </li>
        </ul>

        <button class="btn btn-outline-success my-2 my-sm-0" onclick="login()" id ="log" type="submit" style="margin-right: 10px;">Вхід</button>
        <button class="btn btn btn-secondary my-2 my-sm-0" onclick="window.location.href='/SignIn'" id ="log" type="submit">Реєстрація</button>

      </div>
    </nav>

    <div class="p-5 bg-warning" >
      <div class="text-center" >
        <b><font size="6" style="color: white;">ПОСТ</font></b>
      </div>
    </div>

    <div id="post" class="row mt-2">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card w-100 mr-4">
          <div class="card-header" >
            <div class="row">
              <div class="col-md-4">
                {{post.title}}
              </div>
              <div class="col-md-7">
              </div>
              <div class="col-md-1">
                <button v-if="this_User === creator.id_user || is_admin === true" type="button" name="button" class="btn btn-secondary form-control" v-on:click="deleteRow()">Х</button>
              </div>
            </div>

          </div>
          <div class="card-body">

            <textarea  class="form-control" rows="4" readOnly>{{post.text}}</textarea><br>
            <span>Приблизний час</span>
            <input type="datetime-local" name="" readOnly  class="form-control mt-2" :value="post.time_at.substring(0, post.time_at.length - 5)">

            <div v-if="post.map !== {}" id="maps mt-2" class="">
              <input id="pac-input-from" class="form-control mt-2" name="leave" class="controls" type="text" :value="post.map.nameStreet" readonly >
              <div id="map" class="mt-2"></div>
              <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnVlU107fhPTFdyyZFodC4ObGPtFDhtDw&&libraries=places" async defer></script>
            </div>

            <div v-if="JSON.stringify(animal) != JSON.stringify({})" class="mt-5 mb-5">
              <div class="text-center">
                <div class="">
                  <h1>Ім'я: {{animal.name }}</h1>
                  <h5 v-if="animal.chipped === 'Так'">Має чіп</h5>
                  <h5 v-if="animal.chipped === 'Ні'">Не має чіпу</h5>
                  <h5 v-if="animal.chipped === 'Не знаю'">Немає інформації про наявність чіпу</h5><br>
                  <h5 v-if="animal.collar === true">Має ошейнік</h5>
                  <h5 v-if="animal.collar === false">Не має ошейніку</h5>
                </div>

                <img v-if="animal.src != ''" v-bind:src="animal.src" :title="animal.photo" class=" img-thumbnail" style="width: 300px; height: 300px;">
                <h4>тип тварини: {{type_of_animal.name_type}}</h4>
                <ul class="list-inline">
                  <li v-for="(item, index) in color"  class="list-inline-item">
                    <span>{{ item.name }}</span>
                    <img class="rounded border border-dark" style="width: 30px; height: 30px;" v-bind:src="item.src" :title="item.image" :alt="item.name">
                  </li>
                </ul>
              </div>
            </div>
            <hr>
            <h2 class="text-center mt-5">Автор посту</h2>
            <div class="text-center">
              <img class="img-thumbnail rounded-circle" style="width: 150px; height: 150px;" v-bind:src="creator.src" :title="creator.title" alt="">
            </div>
            <div>
              <span>Ім'я</span>
              <input type="text" class="form-control" readonly :value="creator.first_name"></input>
              <span>Прізвище</span>
              <input type="text" class="form-control" readonly :value="creator.last_name"></input>
              <span>Емейл</span>
              <input type="text" class="form-control" readonly :value="creator.email"></input>
            </div>


            <div class="text-center">
              <a id="shareFacebook" class="share">
                 <img style="width: 100px; height: 100px;" src="https://image.flaticon.com/icons/png/128/270/270793.png" />
              </a>
              <a id="shareTwitter" class="share">
                 <img style="width: 100px; height: 100px;" src="https://image.flaticon.com/icons/png/128/270/270826.png" />
              </a>
            </div>
            <script type="text/javascript">
              document.getElementById('shareFacebook').href = "http://www.facebook.com/sharer.php?u=" + window.location.href;
              document.getElementById('shareTwitter').href = "https://twitter.com/share?url=" + window.location.href;
            </script>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-5" style="background-color: grey; padding: 10px;">
      <div class="col-md-1"></div>

      <div class="col-md-7">
        <div class="text-left">
          <a class="btn btn-secondary" style="width: 150px;"  href="/Policy">
            Умови і політики
          </a>
        </div>
        <div style="margin-top: 10px; " class="text-left">
          <a class="btn btn-secondary" style="width: 150px;" href="/Contact">
            Наші контакти
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-right mt-3">
          <a href="https://www.facebook.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/png/128/270/270793.png" />
          </a>
          <a href="https://twitter.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/png/128/270/270826.png" />
          </a>
          <a href="https://www.instagram.com/">
            <img class="img-circle" width="40" height="40" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" />
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-left">
          2019
        </div>
        <div class="text-left">
          Адреса реєстрації організації
        </div>
      </div>
    </div>
  </body>
</html>
