.textException{
  font-size: 14px;
  color: red;
  visibility: hidden;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

#files{
  visibility: hidden;
}

#map {
  height: 400px;
  width: 100%;
  background-color: grey;
}

#pac-input-from{
  font-family: 'Roboto','sans-serif';
}

#shareFacebook, #shareTwitter, #shareInstagram {
  cursor: pointer;
  display: inline-block;
  padding: 1em 2em;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#shareFacebook:hover, #shareTwitter:hover, #shareInstagram:hover {
  position: relative;
  top: -1px;
}


[v-cloak] { display: none; }
